body {
	background:#4185F2;
}

#navigation {
	margin-bottom: 0;
	font-weight: bold;
}

/* Carousel */

#myCarousel, h6, section {
	margin-top: 0;
}

.carousel-caption {
	font-family: 'Libre Baskerville', serif;
	font-size:25px;
	text-align: right;
	right:20%;
	width:100%;	
	margin:0 auto;
}

/* .mycaption {
  position: absolute; 
  left:20%;
  right:20%;
  top:0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  display: inline;
} */

/*/////// Trusted Companies section/////////////*/
.trusted-companies-wrapper {
	width:auto;
	height:100px;
	background: #ECF7FC;
}
	.trusted-companies-logos {
		margin:0 auto;
	}

.trusted-companies-logos div {
	display: inline-block;

}
.trusted-companies-logos div img {
	vertical-align: middle;
	width:auto;
	margin-right:50px;
	max-width: 150px;

}
h6 {
	text-align: center;
	color:#908f8f;
	font-weight: bold;
	font-size:1.1em;
	margin:0;
}



.pelephone {
	width:80%;
}


/*/////// Benefits section/////////////*/
 #firstDeck {
	background: #F5F5F5;
	height:400px;
	width:890px;
	border-radius:2%;
	margin:0 auto;
	padding:35px;
	display: flex;
	margin-top:10px;
}
#firstDeck div {
	flex:1;
}
	#firstDeck span {
	color:#032a3f;
	font-size:42px;
	}

.benefits-header div {
	text-align: center;
}

#innovation, #professionalism, #trust {
	width:200px;
	display: inline-block;
	margin-left:40px;
}
/* Accessory */
.rtl {
	direction: rtl;
}


/* add to docs */
body {
    width:1440px;
    }

    #myCarousel {
      margin:0;
    }

    .carousel-inner > .item > img {
      margin:0 auto;
    }

/* Import */

@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic);

/* @import url("../../resources/bootstrap/fonts/glyphicons-halflings-regular.eot.eot");
@import url("../../resources/bootstrap/fonts/glyphicons-halflings-regular.svg");
@import url("../../resources/bootstrap/fonts/glyphicons-halflings-regular.ttf");
@import url("../../resources/bootstrap/fonts/glyphicons-halflings-regular.woff.woff");
@import url("../../resources/bootstrap/fonts/glyphicons-halflings-regular.woff2.woff"); */



/* <div class="long-div"></div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="images/building-cloud.jpg" alt="Chania">
    </div>

    <div class="item">
      <img src="images/building-cloud.jpg" alt="Chania">
    </div>

    <div class="item">
      <img src="images/building-cloud.jpg" alt="Flower">
    </div>

    <div class="item">
      <img src="images/building-cloud.jpg" alt="Flower">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> */