body {
	background:#4185F2;
}


/*/////// Trusted Companies section/////////////*/
.trusted-companies-wrapper {
	width:auto;
	height:100px;
	background: #ECF7FC;
}
	.trusted-companies-logos {
		margin:0 auto;
	}

.trusted-companies-logos div {
	display: inline-block;

}
.trusted-companies-logos div img {
	vertical-align: middle;
	width:auto;
	margin-right:50px;
	max-width: 150px;

}
h6 {
	text-align: center;
	color:#908f8f;
	font-weight: bold;
	font-size:1.1em;
	margin:0;
}



.pelephone {
	width:80%;
}


/*/////// Benefits section/////////////*/
 #firstDeck {
	background: #F5F5F5;
	height:400px;
	width:890px;
	border-radius:2%;
	margin:0 auto;
	padding:35px;
	display: flex;
	margin-top:10px;
}
#firstDeck div {
	flex:1;
}
	span {
	color:#032a3f;
	font-size:42px;
	}

.benefits-header div {
	text-align: center;
}

#innovation, #professionalism, #trust {
	width:200px;
	display: inline-block;
	margin-left:40px;
}

/* add to docs */
body {
    width:1440px;
    }
    .carousel, .carousel-inner {
      width:auto;
      display: inline-block;
      margin: auto;
    }
    #myCarousel {
      margin:0;
    }

    .carousel-inner > .item > img {
      margin:0 auto;
    }

@import url("../../resources/bootstrap/fonts/glyphicons-halflings-regular.eot.eot");
@import url("../../resources/bootstrap/fonts/glyphicons-halflings-regular.svg");
@import url("../../resources/bootstrap/fonts/glyphicons-halflings-regular.ttf");
@import url("../../resources/bootstrap/fonts/glyphicons-halflings-regular.woff.woff");
@import url("../../resources/bootstrap/fonts/glyphicons-halflings-regular.woff2.woff);


/* cahce


https://upload.wikimedia.org/wikipedia/he/a/a7/Pelephone-logo.svg"
https://upload.wikimedia.org/wikipedia/commons/d/de/SpaceX-Logo.svg */